body {
  height: 90vh;
  width: 90vw;
  margin: auto auto;
  padding: 2rem;
}

.grid {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.element {
  border-style: solid;
  border-color: red;
  height: 100%;
  width: 100%
}
